section.after-footer
	.container
		.row
			.col-md-4
				h4 ACCESSORIES
				p Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris
				i.fa.fa-facebook-square
				i.fa.fa-twitter-square
				i.fa.fa-rss-square
				i.fa.fa-skype
				i.fa.fa-dribbble
			.col-md-8
				.row
					.col-md-3
						h5 	MY ACCOUNT
						ul
							li 
								i.fa.fa-caret-right
								span My Account
							li 
								i.fa.fa-caret-right
								span Order History
							li 
								i.fa.fa-caret-right
								span Wish List
							li 
								i.fa.fa-caret-right
								span Newsletter		
					.col-md-3
						h5 	INFORMATION
						ul
							li 
								i.fa.fa-caret-right
								span About Us
							li 
								i.fa.fa-caret-right
								span Delivery Information
							li 
								i.fa.fa-caret-right
								span Privacy Policy
							li 
								i.fa.fa-caret-right
								span Terms & Conditions
					.col-md-3
						h5 	EXTRAS
						ul
							li 
								i.fa.fa-caret-right
								span Brands
							li 
								i.fa.fa-caret-right
								span Git Vouchers
							li 
								i.fa.fa-caret-right
								span Affiliates
							li 
								i.fa.fa-caret-right
								span Specials			
					.col-md-3
						h5 	ABOUT US
						ul
							li 
								i.fa.fa-map-marker.fa-stack
								span 8901 Marmora Road, Glasgow D04 89
							li 
								i.fa.fa-phone.fa-stack
								span (0123)456789
								span (0987)654321
							li 
								i.fa.fa-envelope.fa-stack
								span admin@bootexperts.com