section.banner-contact
	.container
		.row
			.col-md-6
				h1 CONTACT US
			.col-md-6
				p
					| Contac info
					br
					| phone:0(1234) 567 890
					br
					| Mail:Infor@roadthemes.com
					br
					| Address: No 40 Baria Sreet 133/2 New York City, NY, United
					br
					| States