section.cloting
	.container
		.row
			.col-md-4
				.row
					+imgbox('a1')
			.col-md-4
				.row
					+imgbox('d2')
			.col-md-4
				.row
					+imgbox('g2')
		.row
			.col-md-4
				.row
					+imgbox('c2')
			.col-md-4
				.row
					+imgbox('c2')
			.col-md-4
				.row
					+imgbox('e2')							
		.row
			+textobox(blog2)
			+textobox(blog1)
			+textobox(blog2)
			+textobox(blog3)
		.row
			.col-md-4
				.box_icono
					i.fa.fa-phone-square
					h5 ORDER ONLINE NOW
					h6 Call Us: (0123) 456 789

			.col-md-4
			.col-md-4