section.collection.text-center
	.container
		.row
			.col-md-4
				h2 ACCESSORIES COLLECTION
			.col-md-8
				h2 NEW ARRIVAL
				p SHOW NOW
					i.fa.fa-caret-right
		.row
			.col-md-3
				.box_imagen
					.new
						h6 NEW
				h5 Deliver Wide
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				p $218.00		

			.col-md-3
				.box_imagen
					.new
						h6 NEW
						h6 SALE
				h5 Deliver Wide
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				p
					strike$218.00
					$242.00
			.col-md-3
				.box_imagen
					.new
						h6 NEW
						h6 SALE
				h5 Deliver Wide
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				p
					strike$218.00
					$242.00
			.col-md-3
				.box_imagen
					.new
						h6 NEW
				h5 Deliver Wide
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				i.fa.fa-star-o
				p $218.00		