header
    nav.navbar.navbar-default
        .container
            .navbar-header
                button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#bs-example-navbar-collapse-1',aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class='navbar-brand',href='#') Default Welcome Msg!
            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                                               
                ul.nav.navbar-nav.navbar-right
                    li 
                        img(src='assets/images/flag1.png')
                        span &nbsp;Language&nbsp;
                        i.fa.fa-angle-down
                    li 
                        i.fa.fa-usd
                        span &nbsp;Currency&nbsp;
                        i.fa.fa-angle-down
                    li 
                        i.fa.fa-usd
                        span &nbsp;My Account&nbsp;
                        i.fa.fa-angle-down