section.search
	.container
		.row
			.col-md-4
				.clock
					<i class="fa fa-clock-o"></i>
					h5 OPENNING TIME
					h6 9:00 AM - 10:00 PM
			.col-md-4
				img(src="assets/images/logo.png", alt="logo")
			.col-md-4
				.input-group
					input(type='text' class='form-control' placeholder='search')
					<i class="fa fa-search"></i>