section.sponsor
	.container
		.row
			.col-md-2
				+imgjpg('client1')
			.col-md-2
				+imgjpg('client2')
			.col-md-2
				+imgjpg('client3')
			.col-md-2
				+imgjpg('client4')
			.col-md-2
				+imgjpg('client5')
			.col-md-2
				+imgjpg('client6')