section.tabs
	.container
		.row
			.col-md-6
				ul.nav.nav-pills
					li(role='presentation'): a(href='#') HOME
					li(role='presentation'): a(href='#') CONTACT US
			.col-md-6
				.cart
					i.fa.fa-opencart
					h5 My Cart
					p 2 item(s)- $244.00
